.caja-idiomas {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 8px;       
  z-index: 100;   
}

.caja-idiomas img {
  width: 25px;     
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.caja-idiomas img:hover {
  transform: scale(1.15);   
}
